/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  flex-grow: 1;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

label.checked {
  text-decoration: line-through;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


.search {
  
  width: 300px;
  box-shadow: inset;
  padding: 10px;
  border: 2px solid dimgray;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
/* .search label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
  color: white;
} */

.search:focus,
.search:hover {
  border-color: blue; /* Change border color on focus and hover */
}

label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
  color: black;
}

form {
  display: flex;
  align-items: center;
}

/* styles.css */
.delete-icon {
  color: lightcoral;
  font-size: 25px;
  /* Add more styles as needed */
}
